:root {
    --main-bg-color: hsl(213, 62%, 51%);
    --main-text-color: white;
    --main-line-color: hsla(253, 0%, 96%, 0.05);
    --main-border-color: white;
}

body {
    margin: 0;
    padding: 1em;

    background-image:
        repeating-linear-gradient(90deg, var(--main-line-color) 0px, var(--main-line-color) 1px, transparent 1px, transparent 2em),
        repeating-linear-gradient(0deg, var(--main-line-color) 0px, var(--main-line-color) 1px, transparent 1px, transparent 2em),
        repeating-linear-gradient(0deg, var(--main-line-color) 0px, var(--main-line-color) 1px, transparent 1px, transparent 2em),
        repeating-linear-gradient(90deg, var(--main-line-color) 0px, var(--main-line-color) 1px, transparent 1px, transparent 2em),
        linear-gradient(45deg, hsl(213, 62%, 51%), hsl(213, 62%, 51%));
}